<div class="contents-body">
  <div>
    <p>Swap Text
    </p>
    <div>
      {{name}}
    </div>
    <button [title]="buttonTitle" (click)="abc()">Swap Me</button>
  </div>
  <div>
    <p>Text Box Value Changes</p>
    <input type="text" [(ngModel)]="myInputVal"> {{myInputVal}}
    <button (click)="onButtonClick()">Change Text Box Value</button>
  </div>

  <div>
    <p>Handling Dynamic Data Grid</p>
    <h4>Add Employee</h4>
    <label>Name</label>
    <input type="text" [(ngModel)]="newEmployee.name">
    <label>Age</label>
    <input type="text" [(ngModel)]="newEmployee.age">
    <button (click)="addEmployee()">Add</button>
    
    <table>
      <tr>
        <td>Name</td>
        <td>Age</td>
        <td></td>
      </tr>

      <tr *ngFor="let emp of employees" [ngClass]="{ 'selected' : emp.selected }">
        <td>
          {{emp.name}}
        </td>
        <td>
          {{emp.age}}
        </td>
        <td>
          <button (click)="showDetails(emp)">More Details</button>
      </tr>
    </table>
    <div *ngIf="selectedEmployee">
      <p>{{selectedEmployee.name}}</p>
      <p>{{selectedEmployee.age}}</p>
    </div>
  </div>


</div>