/* You can add global styles to this file, and also import other style files */

body{
    padding:10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
div {
    margin: 10px 0 10px 0px;
    max-width: 650px;
}

P {
    font-weight: bold;
    text-decoration: underline;
}


th, td {
    text-align: center;
}